// vim: set tabstop=4,shiftwidth=4,expandtabs,ft=conf
// file: {{ template_destpath }}

{% include "common/acls.j2" %}
{% include "common/primaries.j2" %}
{% include "common/controls.j2" %}
{% include "common/tls.j2" %}
{% include "common/http.j2" %}
{% include "common/options.j2" %}

{% include "common/logging.j2" %}
