{% if (bind_logging | default(__bind_logging, true)).get('channels', {}) or (bind_logging | default(__bind_logging, true)).get('categories', {}) %}
logging {
{% for channel_name, channel in (bind_logging | default(__bind_logging, true)).get('channels', {}).items() %}
    channel {{ channel_name }} {
{% if channel.file is defined %}
        file "{{ channel.file }}"{% if channel.file_options is defined %} {{ channel.file_options }}{% endif %};
{% endif %}
{% if channel.severity is defined %}
        severity {{ channel.severity }};
{% endif %}
{% if channel.print_time is defined %}
        print-time {{ 'yes' if channel.print_time else 'no' }};
{% endif %}
{% if channel.print_severity is defined %}
        print-severity {{ 'yes' if channel.print_severity else 'no' }};
{% endif %}
{% if channel.print_category is defined %}
        print-category {{ 'yes' if channel.print_category else 'no' }};
{% endif %}
    };
{% endfor %}
{% for category_name, channels in (bind_logging | default(__bind_logging, true)).get('categories', {}).items() %}
    category {{ category_name }} { {% for channel in channels %}{{ channel }}; {% endfor %}};
{% endfor %}
};

{% endif %}
