{% for zone in __bind_render_zones %}
{% if zone.comment is defined %}
// {{ zone.comment }}
{% endif %}
zone "{{ zone.name }}"{% if zone.class is defined %} {{ zone.class }}{% endif %} {
{% if zone.type is defined %}
    type {{ zone.type }};
{% endif %}
{% if zone.primaries is defined %}
    primaries { {% for entry in zone.primaries %}{{ entry }}; {% endfor %}};
{% endif %}
{% if zone.file_path is defined %}
    file "{{ zone.file_path }}";
{% elif zone.file is defined %}
    file "{{ zone.file }}";
{% endif %}
{% if zone.allow_update_forwarding is defined %}
    allow-update-forwarding { {% for entry in zone.allow_update_forwarding %}{{ entry }}; {% endfor %}};
{% endif %}
{% if zone.allow_update is defined %}
    allow-update { {% for entry in zone.allow_update %}{{ entry }}; {% endfor %}};
{% endif %}
{% if zone.update_policy is defined %}
    update-policy {
{% for rule in zone.update_policy %}
        {{ rule.action }} {{ rule.identity }} {{ rule.match_type }}{% if rule.name is defined %} {{ rule.name }}{% endif %} {{ rule.types | join(' ') }};
{% endfor %}
    };
{% endif %}
{% if zone.inline_signing is defined %}
    inline-signing {{ zone.inline_signing | ternary('yes', 'no') }};
{% endif %}
{% if zone.forward is defined %}
    forward {{ zone.forward }};
{% endif %}
{% if zone.forwarders is defined %}
    forwarders { {% for entry in zone.forwarders %}{{ entry }}; {% endfor %}};
{% endif %}
{% if zone.statements is defined %}
{% for statement in zone.statements %}
    {{ statement }};
{% endfor %}
{% endif %}
};

{% endfor %}
