// vim: set tabstop=4,shiftwidth=4,expandtabs,ft=conf
// {{ template_destpath }}

{% for key in bind_tsig_keys %}
include "{{ __bind_tsig_key_dir }}/{{ key.name }}.key";
{% endfor %}
{% if bind_tsig_keys %}

{% endif %}
{% if __bind_main_config_style == "include" %}
{% for include in __bind_main_includes %}
include "{{ include }}";
{% endfor %}
{% else %}
{% for acl in bind_acls %}
acl "{{ acl.name }}" {
{% for entry in acl.entries %}
    {{ entry }};
{% endfor %}
};

{% endfor %}
{% for primaries in bind_primaries %}
primaries "{{ primaries.name }}" {
{% for entry in primaries.entries %}
    {{ entry }};
{% endfor %}
};

{% endfor %}
{% if bind_controls %}
controls {
{% for control in bind_controls %}
    {{ control }};
{% endfor %}
};

{% endif %}
{% for tls in bind_tls %}
tls {{ tls.name }} {
{% if tls.key_file is defined %}
    key-file "{{ tls.key_file }}";
{% endif %}
{% if tls.cert_file is defined %}
    cert-file "{{ tls.cert_file }}";
{% endif %}
{% if tls.ca_file is defined %}
    ca-file "{{ tls.ca_file }}";
{% endif %}
{% if tls.dhparam_file is defined %}
    dhparam-file "{{ tls.dhparam_file }}";
{% endif %}
{% if tls.ciphers is defined %}
    ciphers "{{ tls.ciphers }}";
{% endif %}
{% if tls.protocols is defined %}
    protocols { {% for protocol in tls.protocols %}{{ protocol }}; {% endfor %}};
{% endif %}
{% if tls.prefer_server_ciphers is defined %}
    prefer-server-ciphers {{ 'yes' if tls.prefer_server_ciphers else 'no' }};
{% endif %}
{% if tls.remote_hostname is defined %}
    remote-hostname "{{ tls.remote_hostname }}";
{% endif %}
{% if tls.session_tickets is defined %}
    session-tickets {{ 'yes' if tls.session_tickets else 'no' }};
{% endif %}
};

{% endfor %}
{% for http in bind_http %}
http {{ http.name }} {
{% if http.endpoints is defined %}
    endpoints { {% for endpoint in http.endpoints %}"{{ endpoint }}"; {% endfor %}};
{% endif %}
{% if http.listener_clients is defined %}
    listener-clients {{ http.listener_clients }};
{% endif %}
{% if http.streams_per_connection is defined %}
    streams-per-connection {{ http.streams_per_connection }};
{% endif %}
};

{% endfor %}
{% set __bind_public_option_names = bind_options | selectattr('name', 'defined') | map(attribute='name') | list %}
options {
    qname-minimization {{ bind_qname_minimization }};
{% for listener in bind_listeners %}
    {{ listener.name }}{% if listener.port is defined %} port {{ listener.port }}{% endif %}{% if listener.tls is defined %} tls {{ listener.tls }}{% endif %}{% if listener.http is defined %} http {{ listener.http }}{% endif %} {
{% for entry in listener.entries %}
        {{ entry }};
{% endfor %}
    };
{% endfor %}
{% for option in (__bind_options | rejectattr('name', 'in', __bind_public_option_names) | list) + __bind_platform_options + bind_options %}
{% if option.include is defined and option.include %}
    include "{{ option.include }}";
{% elif option.raw is defined %}
{% if option.raw is string %}
{% for line in option.raw.splitlines() %}
    {{ line }}
{% endfor %}
{% else %}
{% for line in option.raw %}
    {{ line }}
{% endfor %}
{% endif %}
{% elif option.entries is defined %}
    {{ option.name }}{% if option.arguments is defined %} {{ option.arguments }}{% endif %} {
{% for entry in option.entries %}
        {{ entry }};
{% endfor %}
    };
{% elif option.value is defined %}
{% if option.value is not none and option.value | string | length > 0 %}
    {{ option.name }} {{ option.value }};
{% endif %}
{% endif %}
{% endfor %}
};

{% set __bind_logging_channels = __bind_logging.channels + bind_logging.channels %}
{% set __bind_logging_categories = __bind_logging.categories + bind_logging.categories %}
{% if __bind_logging_channels or __bind_logging_categories %}
logging {
{% for channel in __bind_logging_channels %}
    channel {{ channel.name }} {
{% if channel.file is defined %}
        file "{{ channel.file }}"{% if channel.file_options is defined %} {{ channel.file_options }}{% endif %};
{% endif %}
{% if channel.severity is defined %}
        severity {{ channel.severity }};
{% endif %}
{% if channel.print_time is defined %}
        print-time {{ 'yes' if channel.print_time else 'no' }};
{% endif %}
{% if channel.print_severity is defined %}
        print-severity {{ 'yes' if channel.print_severity else 'no' }};
{% endif %}
{% if channel.print_category is defined %}
        print-category {{ 'yes' if channel.print_category else 'no' }};
{% endif %}
    };
{% endfor %}
{% for category in __bind_logging_categories %}
    category {{ category.name }} { {% for channel in category.channels %}{{ channel }}; {% endfor %}};
{% endfor %}
};

{% endif %}
{% for zone in __bind_platform_zones %}
{% if zone.comment is defined %}
// {{ zone.comment }}
{% endif %}
zone "{{ zone.name }}"{% if zone.class is defined %} {{ zone.class }}{% endif %} {
{% if zone.type is defined %}
    type {{ zone.type }};
{% endif %}
{% if zone.primaries is defined %}
    primaries { {% for entry in zone.primaries %}{{ entry }}; {% endfor %}};
{% endif %}
{% if zone.file is defined %}
    file "{{ zone.file }}";
{% endif %}
{% if zone.allow_update_forwarding is defined %}
    allow-update-forwarding { {% for entry in zone.allow_update_forwarding %}{{ entry }}; {% endfor %}};
{% endif %}
{% if zone.update_policy is defined %}
    update-policy {
{% for rule in zone.update_policy %}
        {{ rule.action }} {{ rule.identity }} {{ rule.match_type }}{% if rule.name is defined %} {{ rule.name }}{% endif %} {{ rule.types | join(' ') }};
{% endfor %}
    };
{% endif %}
{% if zone.forward is defined %}
    forward {{ zone.forward }};
{% endif %}
{% if zone.forwarders is defined %}
    forwarders { {% for entry in zone.forwarders %}{{ entry }}; {% endfor %}};
{% endif %}
{% if zone.statements is defined %}
{% for statement in zone.statements %}
    {{ statement }};
{% endfor %}
{% endif %}
};

{% endfor %}
{% for include in __bind_includes %}
include "{{ include }}";
{% endfor %}
include "{{ __bind_local_file }}";

{% endif %}
