// vim: set tabstop=4,shiftwidth=4,expandtabs,ft=conf
// {{ template_destpath }}

{% for include in bind_includes %}
include "{{ include }}";
{% endfor %}
{% if bind_includes %}

{% endif %}
{% for dlz in bind_dlz %}
{% if dlz.comment is defined %}
// {{ dlz.comment }}
{% endif %}
dlz "{{ dlz.name }}" {
{% if dlz.statements is defined %}
{% for statement in dlz.statements %}
    {{ statement }};
{% endfor %}
{% endif %}
};

{% endfor %}
{% for zone in bind_zones %}
{% if zone.comment is defined %}
// {{ zone.comment }}
{% endif %}
zone "{{ zone.name }}"{% if zone.class is defined %} {{ zone.class }}{% endif %} {
{% if zone.type is defined %}
    type {{ zone.type }};
{% endif %}
{% if zone.primaries is defined %}
    primaries { {% for entry in zone.primaries %}{{ entry }}; {% endfor %}};
{% endif %}
{% if zone.file is defined %}
    file "{{ zone.file }}";
{% endif %}
{% if zone.allow_update_forwarding is defined %}
    allow-update-forwarding { {% for entry in zone.allow_update_forwarding %}{{ entry }}; {% endfor %}};
{% endif %}
{% if zone.update_policy is defined %}
    update-policy {
{% for rule in zone.update_policy %}
        {{ rule.action }} {{ rule.identity }} {{ rule.match_type }}{% if rule.name is defined %} {{ rule.name }}{% endif %} {{ rule.types | join(' ') }};
{% endfor %}
    };
{% endif %}
{% if zone.forward is defined %}
    forward {{ zone.forward }};
{% endif %}
{% if zone.forwarders is defined %}
    forwarders { {% for entry in zone.forwarders %}{{ entry }}; {% endfor %}};
{% endif %}
{% if zone.statements is defined %}
{% for statement in zone.statements %}
    {{ statement }};
{% endfor %}
{% endif %}
};

{% endfor %}
{% for statement in bind_extra_statements %}
{{ statement }}
{% endfor %}
