; vim: set tabstop=4,shiftwidth=4,expandtabs,ft=conf
; {{ template_destpath }}

key "{{ item.name }}" {
    algorithm {{ item.algorithm | default("hmac-sha256") }};
    secret "{{ item.secret }}";
};
