// vim: set tabstop=4,shiftwidth=4,expandtabs,ft=conf
// file: {{ template_destpath }}

key "{{ __bind_tsig_key.name }}" {
    algorithm {{ __bind_tsig_key.algorithm }};
    secret "{{ __bind_tsig_key.secret }}";
};
