; vim: set tabstop=4,shiftwidth=4,expandtabs,ft=bindzone
; {{ template_destpath }}

$TTL {{ __bind_zone_file.ttl if __bind_zone_file.ttl is defined else bind_zone_file_ttl }}
{% if __bind_zone_file.origin is defined %}
$ORIGIN {{ __bind_zone_file.origin }}
{% endif %}
@ IN SOA {{ __bind_zone_file.primary }} {{ __bind_zone_file.email }} (
    {{ __bind_zone_file.serial if __bind_zone_file.serial is defined else bind_zone_file_serial }}
    {{ __bind_zone_file.refresh if __bind_zone_file.refresh is defined else bind_zone_file_refresh }}
    {{ __bind_zone_file.retry if __bind_zone_file.retry is defined else bind_zone_file_retry }}
    {{ __bind_zone_file.expire if __bind_zone_file.expire is defined else bind_zone_file_expire }}
    {{ __bind_zone_file.minimum if __bind_zone_file.minimum is defined else bind_zone_file_minimum }}
)
{% for record in __bind_zone_file.records %}
{{ record.name }}{% if record.ttl is defined %} {{ record.ttl }}{% endif %}{% if record.class is defined %} {{ record.class }}{% endif %} {{ record.type }} {{ record.data }}
{% endfor %}
