; vim: set tabstop=4,shiftwidth=4,expandtabs,ft=bindzone
; {{ template_destpath }}

{% set zone_content = __bind_zone.bootstrap | default(__bind_zone) %}
$TTL {{ zone_content.ttl if zone_content.ttl is defined else bind_zone_file_ttl }}
{% if zone_content.origin is defined %}
$ORIGIN {{ zone_content.origin }}
{% endif %}
@ IN SOA {{ zone_content.primary }} {{ zone_content.email }} (
    {{ __bind_zone_serial }} ; serial
    {{ zone_content.refresh if zone_content.refresh is defined else bind_zone_file_refresh }}
    {{ zone_content.retry if zone_content.retry is defined else bind_zone_file_retry }}
    {{ zone_content.expire if zone_content.expire is defined else bind_zone_file_expire }}
    {{ zone_content.minimum if zone_content.minimum is defined else bind_zone_file_minimum }}
)
{% for record in zone_content.records %}
{{ record.name }}{% if record.ttl is defined %} {{ record.ttl }}{% endif %}{% if record.class is defined %} {{ record.class }}{% endif %} {{ record.type }} {{ record.data }}
{% endfor %}
